table { width: 100%; border-radius: 2px; border: $main-border; margin-bottom: 15px}

thead { border-bottom: $main-border;}

td,th { line-height: 3.2em; padding: 0 1.5em;}

tr {
	border-bottom: $main-border;
}

td,th {

	&.border  {
		border-left: $main-border;
	}

	&.center {
		text-align: center;
	}

	&.cling {
		text-align: center;
		width:1%;
    	white-space:nowrap;
	}
}

td {
	&.actions {
		text-align: center;
		border-left: $main-border;

		a[class*='pure-button'] {
			padding: 0.5em 0.7em;
		}
	}
}