$bg: #e2f7fa;
$color: #565656;

$content-bg: #fff;
$nav-bg: #f9f9f9;
$main-border: 1px solid #eaeaea;
$link-color: #9c9c9c;

/******************************** BUTTONS ********************************/

$btn-color: #FFFFFF;
$btn-bg: #3F3F3F;
$btn-green-bg: #00CD66;
$btn-blue-bg: #4682B4;
$btn-red-bg: #fa542e;
$btn-orange-bg: #FF7F24;
$btn-yellow-bg: #FFD700;